/*
Syntax error: File to import not found or unreadable: compass/reset.
              Load paths:
                /media/data/code/js/NodeJsSlide
                /home/haosdent/workspace/js/NodeJsSlide/theme/scss
        on line 1 of /home/haosdent/workspace/js/NodeJsSlide/theme/scss/_base.scss
        from line 1 of /home/haosdent/workspace/js/NodeJsSlide/theme/scss/default.scss

1: @import "base";
2: @import "compass/css3/columns";
3: @import "compass/css3/user-interface";
4: 
5: $social-tags: '#yourhashtag';
6: $brand-small-icon-size: 30px;

Backtrace:
/home/haosdent/workspace/js/NodeJsSlide/theme/scss/_base.scss:1
/home/haosdent/workspace/js/NodeJsSlide/theme/scss/default.scss:1
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/import_node.rb:42:in `import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:227:in `rescue in visit_import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:232:in `visit_import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `block in visit_import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `map'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:224:in `visit_import'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `each'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/exec.rb:411:in `watch_or_update'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/exec.rb:302:in `process_result'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/exec.rb:41:in `parse'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/exec.rb:21:in `parse!'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/bin/sass:8:in `<top (required)>'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/bin/sass:23:in `load'
/home/haosdent/.rvm/gems/ruby-1.9.3-p194/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/reset.\A               Load paths:\A                 /media/data/code/js/NodeJsSlide\A                 /home/haosdent/workspace/js/NodeJsSlide/theme/scss\A         on line 1 of /home/haosdent/workspace/js/NodeJsSlide/theme/scss/_base.scss\A         from line 1 of /home/haosdent/workspace/js/NodeJsSlide/theme/scss/default.scss\A \A 1: @import \"base\";\A 2: @import \"compass/css3/columns\";\A 3: @import \"compass/css3/user-interface\";\A 4: \A 5: $social-tags: '#yourhashtag';\A 6: $brand-small-icon-size: 30px;"; }
